:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif; */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 375px;
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--violet);
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.logo img {
    width: 100px;
    height: 30px;
}

.devices {
    margin-top: 4rem;
}

.devices img {
    width: 100%;
}

.heading {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 4rem;
}

.description {
    color: #fff;
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

button {
    color: var(--violet);
    width: 65%;
    display: flex;
    justify-content: center;
    margin: 1.5rem auto;
    padding: .8rem;
    border-radius: 30px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: none;
}

.social_media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3rem auto 1rem;
    justify-content: space-evenly;
}


#facebook {
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    padding: 2px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

#twitter {
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    padding: 2px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin: 0 1rem;
}

#instagram {
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    padding: 2px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

@media screen and (min-width: 600px) {
    body {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 100%;
        height: 80vh;
        background-color: var(--violet);
        background-image: url(./images/bg-desktop.svg);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        padding: 1.5rem;
    }

    .left_container, .right_container {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .logo img {
        width: 200px;
        height: 60px;
    }

    .right_container {
        align-items: flex-start;
        justify-content: center;
    }

    .heading {
        color: #fff;
        font-size: 1.5rem;
        text-align: left;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        padding: 0;
        margin: 10rem 4rem 1rem 1rem;
    }

    .description {
        color: #fff;
        margin-top: 1rem;
        text-align: left;
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        padding: 0;
        margin: 1.5rem 4rem 1rem 1rem;
    }

    button {
        color: var(--violet);
        width: 30%;
        display: flex;
        justify-content: center;
        margin: 1rem 3rem 0 1rem;
        padding: .8rem;
        border-radius: 30px;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        border: none;
    }

    .social_media {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 6rem 1rem 1rem 25rem;
        padding: 0;
        justify-content: space-evenly;
    }

}